*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    appearance: none;
    background: black;
    cursor: pointer;
    width: 25rem;
    height: 10px;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

#meses{
    text-align: center;
    position: relative;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    transition: all .50s ease;

}

.logo{  
    height: 100px;
    width: 100px;  
}

.navlist{
    display: flex;
}

.navlist{
    font-size:1rem;
    font-weight: 750;
    color:#93E55F;
    margin-left: 40px;
    transition: all .50px ease;
}

.navlist a{
    font-size: 1rem;
    font-weight: 750;
    color: #fff;
    margin-left: 40px;
    transition: all .50px ease;
}

.navlist a:hover{
    color: #93E55F;
}